/* Basic CSS Reset */
* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    transform: scale(0.8); /* Shrinks the site to 80% */
    transform-origin: top center; /* Keeps the page centered */
}

header {
  position: sticky;
  top: 0;
  z-index: 1000; /* Keeps header above other content */
}

body {
    background-color: #008080;
}

.image-container {
  position: relative;
  padding: 0;
  border: none;
  background: none;
}

.hover-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.image-container:hover .base-img {
  opacity: 0;
}

.image-container:hover .hover-img {
  opacity: 1;
}
