/* Basic CSS Reset */
* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: w98; /* set name */
  src: url("https://github.com/j4y146/jasn.github.io/blob/main/MSW98UI-Regular.ttf"); /* url of the font */
}

p {
  font-family: w98; /* use font */
  background-color: #008080;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000; /* Keeps header above other content */
  font-family: w98;
}

body {
    background-color: #008080;
    font-family: w98;
}
