/* Basic CSS Reset */
* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    transform: scale(0.8); /* Shrinks the site to 80% */
    transform-origin: top center; /* Keeps the page centered */
}

header {
  position: sticky;
  top: 0;
  z-index: 1000; /* Keeps header above other content */
}

body {
    background-color: #008080;
}

.folderlink {
    width: 96px;
    height: 96px;
    display: block;
    background:transparent url("folder_closed.png") center top no-repeat;
}

.folderlink:hover {
   background-image: url("folder_open.png");
}
